.box-stock {
    width: 300px;
    display: inline-block;
    height: auto;   
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}

.box-stock img {
    width: 250px;
    height: 190px;
}

.btn-click {
    background-color: black;
    width: 100px;
    color: white;
    padding: 10px;
    border: none;
}



html, body {
    margin: 0;
    padding: 0;
  }
  
  .jumbotron {
    font-family: 'Montserrat', sans-serif;
    padding: 150px 0;
    background: url(https://unsplash.it/1500/500?image=1059) center center;
    background-size: cover;
    text-align: left;
    color: #fff;
    position: relative;
  }
  
  .jumbotron h1 {
    font-size: 70px;
    margin-bottom: 0;
  }
  
  .jumbotron p {
    font-family: serif;
    font-size: 30px;
    font-style: italic;
    margin: 0 0 30px;
  }
  
  .button {
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .button:hover {
    background: #fff;
    color: #000;
  }